AI-Powered Student Scholarship Application Auto-Reviewer/flow/AI_Scholarship_Application_Reviewer.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Hugging_Face_AI</name>
        <label>Call Hugging Face AI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>HuggingFaceFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Parse_AI_Response</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>prompt</name>
            <value>
                <elementReference>aiPrompt</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HuggingFaceFlowAction</nameSegment>
        <outputParameters>
            <assignToReference>aiRawResponse</assignToReference>
            <name>response</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Extract_AI_Analysis_Data</name>
        <label>Extract AI Analysis Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ScholarshipAIParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Route_Based_on_AI_Analysis</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>aiRawResponse</name>
            <value>
                <elementReference>aiAnalysisContent</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ScholarshipAIParser</nameSegment>
        <outputParameters>
            <assignToReference>aiConcerns</assignToReference>
            <name>concerns</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>aiReasoning</assignToReference>
            <name>reasoning</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>aiRecommendation</assignToReference>
            <name>recommendation</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>aiScore</assignToReference>
            <name>score</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>aiStrengths</assignToReference>
            <name>strengths</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Build_AI_Prompt</name>
        <label>Build AI Prompt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>aiPrompt</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You are a scholarship application reviewer. Analyze this application and provide: 1. Sentiment score (0-100) 2. Key strengths 3. Any concerns or red flags 4. Recommendation (APPROVE, REJECT, or MANUAL_REVIEW)  Applicant: {!$Record.Applicant_Name__c} GPA: {!$Record.GPA__c} Essay: {!$Record.Essay__c}  Respond in JSON format: score: number strengths: text concerns: text recommendation: APPROVE | REJECT | MANUAL_REVIEW reasoning: text</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Hugging_Face_AI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Parse_AI_Response</name>
        <label>Parse AI Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>aiAnalysisContent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>aiRawResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_AI_Analysis_Data</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Route_Based_on_AI_Analysis</name>
        <label>Route Based on AI Analysis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_to_Manual_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Manual Review</defaultConnectorLabel>
        <rules>
            <name>Auto_Approve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>aiRecommendation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APPROVE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GPA__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.5</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>aiScore</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>80.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Approved</targetReference>
            </connector>
            <label>Auto Approve</label>
        </rules>
        <rules>
            <name>Auto_Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>aiRecommendation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REJECT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GPA__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>aiScore</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Rejected</targetReference>
            </connector>
            <label>Auto Reject</label>
        </rules>
    </decisions>
    <description>A flow that reviews scholarship applications and updates the records with corresponding status.</description>
    <environments>Default</environments>
    <interviewLabel>AI Scholarship Application Reviewer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AI Scholarship Application Reviewer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Current_Application</name>
        <label>Get Current Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_AI_Prompt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Scholarship_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_to_Approved</name>
        <label>Update to Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AI_Analysis__c</field>
            <value>
                <elementReference>aiStrengths</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Sentiment_Score__c</field>
            <value>
                <elementReference>aiScore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Reasoning__c</field>
            <value>
                <elementReference>aiReasoning</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Manual_Review</name>
        <label>Update to Manual Review`</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AI_Analysis__c</field>
            <value>
                <elementReference>Manual_Review_Analysis</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Sentiment_Score__c</field>
            <value>
                <elementReference>aiScore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Reasoning__c</field>
            <value>
                <elementReference>aiReasoning</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Needs Manual Review</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Rejected</name>
        <label>Update to Rejected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AI_Analysis__c</field>
            <value>
                <elementReference>aiStrengths</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Sentiment_Score__c</field>
            <value>
                <elementReference>aiScore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Reasoning__c</field>
            <value>
                <elementReference>aiReasoning</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Essay__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Scholarship_Application__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>AI_Analysis_Async</name>
            <connector>
                <targetReference>Get_Current_Application</targetReference>
            </connector>
            <label>AI Analysis Async</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>HuggingFaceRequestBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
  &quot;model&quot;: &quot;meta-llama/Llama-3.1-8B-Instruct&quot;,
  &quot;messages&quot;: [
    {
      &quot;role&quot;: &quot;user&quot;,
      &quot;content&quot;: &quot;{!aiPrompt}&quot;
    }
  ],
  &quot;max_tokens&quot;: 500,
  &quot;temperature&quot;: 0.7
}</text>
    </textTemplates>
    <textTemplates>
        <name>Manual_Review_Analysis</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Strengths: {!aiStrengths}. Concerns: {!aiConcerns}</text>
    </textTemplates>
    <variables>
        <name>aiAnalysisContent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>aiConcerns</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>aiPrompt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>aiRawResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>aiReasoning</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>aiRecommendation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>aiScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>aiStrengths</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
